# Análise de dados - PROUNI [2015-2017]
* Dados de 2015 e 2016: http://dados.gov.br/dataset/mec-prouni/resource/92594e1c-e379-480e-9d36-dfbc9b8688a3
* 2017: https://drive.google.com/file/d/1Pd9eOgQR2k8N_HQKE8MDxSgXDG7FqZ3Q/view
* Dicionário de dados: http://informacao.mec.gov.br/bilibs/PDA/PROUNI/Dicionario_ProUni.pdf

In [1]:
import pandas as pd
from dateutil.relativedelta import relativedelta
from datetime import datetime, date

* Função para calcular a idade

In [ ]:
# This function converts given date to age
def age(born,year):
    born = datetime.strptime(born, "%d-%m-%Y").date()
    today = datetime.strptime(f"01-01-{year}", "%d-%m-%Y").date()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))

# Tratamento dos dados das planilhas de 2015 à 2017
## Cálculo da Idade

In [3]:
df_2015 = pd.read_csv("PDA_PROUNI_2015_CSV.csv", delimiter=";", encoding='windows-1252')

In [4]:
# Calcula Idade
df_2015['IDADE'] = df_2015['DT_NASCIMENTO_BENEFICIARIO'].apply(lambda x: age(x,2015))

In [5]:
df_2015.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE
0,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA INTEGRAL,PRESENCIAL,Administração,Noturno,***281870**,Feminino,Branca,22-07-1994,NÃO,SUL,RS,SOLEDADE,20
1,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***992280**,Feminino,Branca,04-10-1986,SIM,SUL,RS,SOLEDADE,28
2,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***991060**,Feminino,Branca,15-07-1994,NÃO,SUL,RS,SOLEDADE,20
3,2015,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA INTEGRAL,PRESENCIAL,Ciências Contábeis,Noturno,***299660**,Masculino,Branca,30-08-1993,NÃO,SUL,RS,ERECHIM,21
4,2015,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciências Contábeis,Noturno,***589530**,Feminino,Branca,02-09-1995,NÃO,SUL,RS,ERECHIM,19

In [6]:
df_2016 = pd.read_csv("PDA_PROUNI_2016_CSV.csv", delimiter=";", encoding='windows-1252')

In [7]:
df_2016['IDADE'] = df_2016['DT_NASCIMENTO_BENEFICIARIO'].apply(lambda x: age(x,2016))

In [8]:
df_2016.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE
0,2016,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***847010**,Feminino,Branca,06-12-1995,NÃO,SUL,RS,SOLEDADE,20
1,2016,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA INTEGRAL,PRESENCIAL,Administração,Noturno,***377850**,Feminino,Branca,08-08-1990,NÃO,SUL,RS,SOLEDADE,25
2,2016,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***266150**,Masculino,Branca,08-03-1999,NÃO,SUL,RS,SOLEDADE,16
3,2016,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***408700**,Feminino,Branca,24-04-1997,NÃO,SUL,RS,SOLEDADE,18
4,2016,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciências Contábeis,Noturno,***560300**,Masculino,Branca,07-05-1994,NÃO,SUL,RS,ERECHIM,21

In [9]:
df_2017 = pd.read_csv("pda-bolsistas-prouni-2017.CSV", delimiter=";", encoding='windows-1252')

In [10]:
df_2017.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA
0,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***113976**,Masculino,Parda,1996-12-02,NÃO,SUDESTE,MG,JOAIMA
1,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***049066**,Feminino,Parda,1997-11-15,NÃO,SUDESTE,MG,BANDEIRA
2,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***622746**,Masculino,Parda,1977-09-07,NÃO,SUDESTE,MG,JEQUITINHONHA
3,2017,3756,ALFA - Faculdade de Almenara,BOLSA INTEGRAL,PRESENCIAL,FARMÁCIA,Noturno,***863896**,Feminino,Parda,1996-05-22,NÃO,SUDESTE,MG,MATA VERDE
4,2017,3756,ALFA - Faculdade de Almenara,BOLSA INTEGRAL,PRESENCIAL,FARMÁCIA,Noturno,***215246**,Feminino,Parda,1995-02-18,NÃO,SUDESTE,MG,JOAIMA

### Foi necessário converter o formato da data na planilha de 2017

In [11]:
# Converte formato da data
df_2017["DT_NASCIMENTO_BENEFICIARIO"] = pd.to_datetime(df_2017["DT_NASCIMENTO_BENEFICIARIO"])
df_2017["DT_NASCIMENTO_BENEFICIARIO"] = df_2017["DT_NASCIMENTO_BENEFICIARIO"].dt.strftime("%d-%m-%Y")
df_2017.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA
0,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***113976**,Masculino,Parda,02-12-1996,NÃO,SUDESTE,MG,JOAIMA
1,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***049066**,Feminino,Parda,15-11-1997,NÃO,SUDESTE,MG,BANDEIRA
2,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***622746**,Masculino,Parda,07-09-1977,NÃO,SUDESTE,MG,JEQUITINHONHA
3,2017,3756,ALFA - Faculdade de Almenara,BOLSA INTEGRAL,PRESENCIAL,FARMÁCIA,Noturno,***863896**,Feminino,Parda,22-05-1996,NÃO,SUDESTE,MG,MATA VERDE
4,2017,3756,ALFA - Faculdade de Almenara,BOLSA INTEGRAL,PRESENCIAL,FARMÁCIA,Noturno,***215246**,Feminino,Parda,18-02-1995,NÃO,SUDESTE,MG,JOAIMA

In [12]:
df_2017['IDADE'] = df_2017['DT_NASCIMENTO_BENEFICIARIO'].apply(lambda x: age(x,2017))

In [13]:
df_2017.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE
0,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***113976**,Masculino,Parda,02-12-1996,NÃO,SUDESTE,MG,JOAIMA,20
1,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***049066**,Feminino,Parda,15-11-1997,NÃO,SUDESTE,MG,BANDEIRA,19
2,2017,3756,ALFA - Faculdade de Almenara,BOLSA PARCIAL 50%,PRESENCIAL,ENGENHARIA CIVIL,Noturno,***622746**,Masculino,Parda,07-09-1977,NÃO,SUDESTE,MG,JEQUITINHONHA,39
3,2017,3756,ALFA - Faculdade de Almenara,BOLSA INTEGRAL,PRESENCIAL,FARMÁCIA,Noturno,***863896**,Feminino,Parda,22-05-1996,NÃO,SUDESTE,MG,MATA VERDE,20
4,2017,3756,ALFA - Faculdade de Almenara,BOLSA INTEGRAL,PRESENCIAL,FARMÁCIA,Noturno,***215246**,Feminino,Parda,18-02-1995,NÃO,SUDESTE,MG,JOAIMA,21

## Junta os dataframes

In [14]:
# Junta DFs
df = pd.concat([df_2015,df_2016,df_2017])

In [15]:
df.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE
0,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA INTEGRAL,PRESENCIAL,Administração,Noturno,***281870**,Feminino,Branca,22-07-1994,NÃO,SUL,RS,SOLEDADE,20
1,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***992280**,Feminino,Branca,04-10-1986,SIM,SUL,RS,SOLEDADE,28
2,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***991060**,Feminino,Branca,15-07-1994,NÃO,SUL,RS,SOLEDADE,20
3,2015,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA INTEGRAL,PRESENCIAL,Ciências Contábeis,Noturno,***299660**,Masculino,Branca,30-08-1993,NÃO,SUL,RS,ERECHIM,21
4,2015,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciências Contábeis,Noturno,***589530**,Feminino,Branca,02-09-1995,NÃO,SUL,RS,ERECHIM,19

In [16]:
len(df)

732795

## Filtra pelo ano entre 2015 e 2017

In [17]:
# Filtra apenas pelos anos corretos
df = df[(df['ANO_CONCESSAO_BOLSA']>=2015) & (df['ANO_CONCESSAO_BOLSA']<=2017)]

In [18]:
len(df)

732795

In [19]:
df['ANO_CONCESSAO_BOLSA'].unique()

array([2015, 2016, 2017], dtype=int64)

## Filtra pela idade

In [20]:
df['IDADE'].unique()

array([20, 28, 21, 19, 18, 26, 25, 40, 22, 17, 24, 30, 23, 43, 34, 31, 45,
       27, 16, 29, 35, 41, 54, 39, 59, 33, 36, 32, 52, 44, 42, 37, 49, 38,
       56, 67, 57, 46, 48, 51, 50, 53, 47, 55, 75, 64, 60, 58,  9, 61, 14,
       15, 63, 73, 72, 70, 68, 62, 66, 65, 12, -1, -5, 69, 77, 71, 80, 11],
      dtype=int64)

In [21]:
# Filtra pela idade
df = df[df['IDADE']>15]

In [22]:
len(df)

732633

## Cria uma coluna com a faixa de idade (< 25, >=25 e <=40, > 40)

In [23]:
def calcula_faixa_idade(age):
    if age < 25:
        return '< 25'
    if age >= 25 and age <= 40:
        return '>= 25 e <= 40'
    if age > 40:
        return '> 40'

In [24]:
# Cria faixa de idade
df['FAIXA_IDADE'] = df['IDADE'].apply(calcula_faixa_idade)

In [25]:
df['FAIXA_IDADE'].unique()

array(['< 25', '>= 25 e <= 40', '> 40'], dtype=object)

In [26]:
df['FAIXA_IDADE'].nunique()

3

In [27]:
df.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE,FAIXA_IDADE
0,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA INTEGRAL,PRESENCIAL,Administração,Noturno,***281870**,Feminino,Branca,22-07-1994,NÃO,SUL,RS,SOLEDADE,20,< 25
1,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***992280**,Feminino,Branca,04-10-1986,SIM,SUL,RS,SOLEDADE,28,>= 25 e <= 40
2,2015,20,UNIVERSIDADE DE PASSO FUNDO,BOLSA PARCIAL 50%,PRESENCIAL,Administração,Noturno,***991060**,Feminino,Branca,15-07-1994,NÃO,SUL,RS,SOLEDADE,20,< 25
3,2015,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA INTEGRAL,PRESENCIAL,Ciências Contábeis,Noturno,***299660**,Masculino,Branca,30-08-1993,NÃO,SUL,RS,ERECHIM,21,< 25
4,2015,423,UNIVERSIDADE REGIONAL INTEGRADA DO ALTO URUGUA...,BOLSA PARCIAL 50%,PRESENCIAL,Ciências Contábeis,Noturno,***589530**,Feminino,Branca,02-09-1995,NÃO,SUL,RS,ERECHIM,19,< 25

In [28]:
df.dtypes

ANO_CONCESSAO_BOLSA                int64
CODIGO_EMEC_IES_BOLSA              int64
NOME_IES_BOLSA                    object
TIPO_BOLSA                        object
MODALIDADE_ENSINO_BOLSA           object
NOME_CURSO_BOLSA                  object
NOME_TURNO_CURSO_BOLSA            object
CPF_BENEFICIARIO_BOLSA            object
SEXO_BENEFICIARIO_BOLSA           object
RACA_BENEFICIARIO_BOLSA           object
DT_NASCIMENTO_BENEFICIARIO        object
BENEFICIARIO_DEFICIENTE_FISICO    object
REGIAO_BENEFICIARIO_BOLSA         object
SIGLA_UF_BENEFICIARIO_BOLSA       object
MUNICIPIO_BENEFICIARIO_BOLSA      object
IDADE                              int64
FAIXA_IDADE                       object
dtype: object

## Padroniza colunas do tipo texto, colocando a primeira letra de cada palavra em maísculo

In [29]:
names_columns = ['NOME_IES_BOLSA','TIPO_BOLSA','MODALIDADE_ENSINO_BOLSA','NOME_CURSO_BOLSA','NOME_TURNO_CURSO_BOLSA','SEXO_BENEFICIARIO_BOLSA','RACA_BENEFICIARIO_BOLSA','BENEFICIARIO_DEFICIENTE_FISICO','MUNICIPIO_BENEFICIARIO_BOLSA']

In [30]:
# Padroniza colunas strings
for column in names_columns:
    df[column] = df[column].apply(lambda x: str(x).title())

In [31]:
df.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE,FAIXA_IDADE
0,2015,20,Universidade De Passo Fundo,Bolsa Integral,Presencial,Administração,Noturno,***281870**,Feminino,Branca,22-07-1994,Não,SUL,RS,Soledade,20,< 25
1,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***992280**,Feminino,Branca,04-10-1986,Sim,SUL,RS,Soledade,28,>= 25 e <= 40
2,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***991060**,Feminino,Branca,15-07-1994,Não,SUL,RS,Soledade,20,< 25
3,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Integral,Presencial,Ciências Contábeis,Noturno,***299660**,Masculino,Branca,30-08-1993,Não,SUL,RS,Erechim,21,< 25
4,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Parcial 50%,Presencial,Ciências Contábeis,Noturno,***589530**,Feminino,Branca,02-09-1995,Não,SUL,RS,Erechim,19,< 25

## Padroniza colunas região e UF, colocando tudo em maísculo

In [32]:
# Padroniza colunas string
names_columns = ['REGIAO_BENEFICIARIO_BOLSA', 'SIGLA_UF_BENEFICIARIO_BOLSA']
for column in names_columns:
    df[column] = df[column].apply(lambda x: str(x).upper())

In [33]:
df.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE,FAIXA_IDADE
0,2015,20,Universidade De Passo Fundo,Bolsa Integral,Presencial,Administração,Noturno,***281870**,Feminino,Branca,22-07-1994,Não,SUL,RS,Soledade,20,< 25
1,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***992280**,Feminino,Branca,04-10-1986,Sim,SUL,RS,Soledade,28,>= 25 e <= 40
2,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***991060**,Feminino,Branca,15-07-1994,Não,SUL,RS,Soledade,20,< 25
3,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Integral,Presencial,Ciências Contábeis,Noturno,***299660**,Masculino,Branca,30-08-1993,Não,SUL,RS,Erechim,21,< 25
4,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Parcial 50%,Presencial,Ciências Contábeis,Noturno,***589530**,Feminino,Branca,02-09-1995,Não,SUL,RS,Erechim,19,< 25

## Cria um índice único para cada linha

In [34]:
# Reseta index
df = df.reset_index()

In [35]:
df = df.drop('index',axis=1)

## Salva em CSV

In [36]:
df.to_csv('prouni.csv')

# Calculo de bolsas per capita no ano de 2015
## Carrega planilha com dados da população dos estados em 2015 e realiza alguns tratamentos

In [37]:
df_populacao_estados = pd.read_csv('populacao_estados_2015.csv', delimiter=";")

In [38]:
df_populacao_estados.head()

    Nível      Cód.  Brasil e Unidade da Federação     2015
BR      1    Brasil                      204450049  Pessoas
UF     11  Rondônia                        1768204  Pessoas
UF     12      Acre                         803513  Pessoas
UF     13  Amazonas                        3938336  Pessoas
UF     14   Roraima                         505665  Pessoas

In [39]:
# Remove linha do Brasil
df_populacao_estados = df_populacao_estados.iloc[1:,:]

In [40]:
df_populacao_estados.head()

    Nível      Cód.  Brasil e Unidade da Federação     2015
UF     11  Rondônia                        1768204  Pessoas
UF     12      Acre                         803513  Pessoas
UF     13  Amazonas                        3938336  Pessoas
UF     14   Roraima                         505665  Pessoas
UF     15      Pará                        8175113  Pessoas

In [41]:
# Renomeia colunas
df_populacao_estados = df_populacao_estados.rename(columns={'Cód.':'Cod','Brasil e Unidade da Federação':'Total'})

In [42]:
df_populacao_estados['Cod'].unique()

array(['Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará', 'Amapá',
       'Tocantins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte',
       'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia',
       'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro', 'São Paulo',
       'Paraná', 'Santa Catarina', 'Rio Grande do Sul',
       'Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 'Distrito Federal'],
      dtype=object)

In [43]:
states = {
    'Acre': 'AC',
    'Alagoas': 'AL',
    'Amapá': 'AP',
    'Amazonas': 'AM',
    'Bahia': 'BA',
    'Ceará': 'CE',
    'Distrito Federal': 'DF',
    'Espírito Santo': 'ES',
    'Goiás': 'GO',
    'Maranhão': 'MA',
    'Mato Grosso': 'MT',
    'Mato Grosso do Sul': 'MS',
    'Minas Gerais': 'MG',
    'Pará': 'PA',
    'Paraíba': 'PB',
    'Paraná': 'PR',
    'Pernambuco': 'PE',
    'Piauí': 'PI',
    'Rio de Janeiro': 'RJ',
    'Rio Grande do Norte': 'RN',
    'Rio Grande do Sul': 'RS',
    'Rondônia': 'RO',
    'Roraima': 'RR',
    'Santa Catarina': 'SC' ,
    'São Paulo': 'SP',
    'Sergipe': 'SE',
    'Tocantins': 'TO' 
}

In [44]:
# Converte estados para siglas
df_populacao_estados['UF'] = df_populacao_estados['Cod'].apply(lambda x: states[x])

In [45]:
df_populacao_estados.head()

    Nível       Cod    Total     2015  UF
UF     11  Rondônia  1768204  Pessoas  RO
UF     12      Acre   803513  Pessoas  AC
UF     13  Amazonas  3938336  Pessoas  AM
UF     14   Roraima   505665  Pessoas  RR
UF     15      Pará  8175113  Pessoas  PA

In [46]:
# Filtra colunas
df_populacao_estados = df_populacao_estados[['UF','Total']]

In [47]:
df_populacao_estados.head()

    UF    Total
UF  RO  1768204
UF  AC   803513
UF  AM  3938336
UF  RR   505665
UF  PA  8175113

In [48]:
# Sigla do estado como índice
df_populacao_estados = df_populacao_estados.set_index('UF')

In [49]:
df_populacao_estados.head()

      Total
UF
RO  1768204
AC   803513
AM  3938336
RR   505665
PA  8175113

## Realiza o cálculo de bolsas per capita

In [50]:
# DF para calcular bolsas per capita por estado em 2015
df_per_capita = df[df['ANO_CONCESSAO_BOLSA']==2015]

In [51]:
grouped = df_per_capita.groupby(['SIGLA_UF_BENEFICIARIO_BOLSA']).size()

In [52]:
grouped_df = pd.DataFrame(grouped,columns=['TotalBolsas'])

In [53]:
grouped_df.head()

                             TotalBolsas
SIGLA_UF_BENEFICIARIO_BOLSA
AC                                  1029
AL                                  1638
AM                                  4744
AP                                   972
BA                                 13339

In [54]:
# Join com tabela com total da população do estado
joined = grouped_df.join(df_populacao_estados,how="inner")

In [55]:
joined.head()

    TotalBolsas     Total
AC         1029    803513
AL         1638   3340932
AM         4744   3938336
AP          972    766679
BA        13339  15203334

In [56]:
joined['PER_CAPITA'] = joined['TotalBolsas']/joined['Total']

In [57]:
# Calcula per capita
joined.head()

    TotalBolsas     Total  PER_CAPITA
AC         1029    803513    0.001281
AL         1638   3340932    0.000490
AM         4744   3938336    0.001205
AP          972    766679    0.001268
BA        13339  15203334    0.000877

In [58]:
joined.sort_values('PER_CAPITA',ascending=False)

    TotalBolsas     Total  PER_CAPITA
DF         8303   2914830    0.002849
RO         3580   1768204    0.002025
RS        22329  11247972    0.001985
SP        68482  44396484    0.001543
SC        10380   6819190    0.001522
PR        16912  11163018    0.001515
MG        28038  20869101    0.001344
AC         1029    803513    0.001281
AP          972    766679    0.001268
GO         8021   6610681    0.001213
AM         4744   3938336    0.001205
MS         3172   2651235    0.001196
ES         4432   3929911    0.001128
MT         3346   3265486    0.001025
RN         3168   3442175    0.000920
TO         1386   1515126    0.000915
PB         3576   3972202    0.000900
RJ        14754  16550024    0.000891
BA        13339  15203334    0.000877
MA         5969   6904241    0.000865
PE         7469   9345173    0.000799
PA         6410   8175113    0.000784
CE         6939   8904459    0.000779
RR          373    505665    0.000738
SE         1630   2242937    0.000727
PI         2181   3204028    0.000681
AL         1638   3340932    0.000490

In [59]:
joined = joined.drop(['TotalBolsas','Total'],axis=1)
joined.head()

    PER_CAPITA
AC    0.001281
AL    0.000490
AM    0.001205
AP    0.001268
BA    0.000877

## Salva em CSV

In [60]:
joined.to_csv('bolsas_per_capita_2015.csv')

# Algumas validações de gráficos gerados no Qlik a partir de agrupamentos

In [61]:
df.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE,FAIXA_IDADE
0,2015,20,Universidade De Passo Fundo,Bolsa Integral,Presencial,Administração,Noturno,***281870**,Feminino,Branca,22-07-1994,Não,SUL,RS,Soledade,20,< 25
1,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***992280**,Feminino,Branca,04-10-1986,Sim,SUL,RS,Soledade,28,>= 25 e <= 40
2,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***991060**,Feminino,Branca,15-07-1994,Não,SUL,RS,Soledade,20,< 25
3,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Integral,Presencial,Ciências Contábeis,Noturno,***299660**,Masculino,Branca,30-08-1993,Não,SUL,RS,Erechim,21,< 25
4,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Parcial 50%,Presencial,Ciências Contábeis,Noturno,***589530**,Feminino,Branca,02-09-1995,Não,SUL,RS,Erechim,19,< 25

In [62]:
df_modalidade = df[df['FAIXA_IDADE']=='< 25']

In [63]:
df_modalidade.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE,FAIXA_IDADE
0,2015,20,Universidade De Passo Fundo,Bolsa Integral,Presencial,Administração,Noturno,***281870**,Feminino,Branca,22-07-1994,Não,SUL,RS,Soledade,20,< 25
2,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***991060**,Feminino,Branca,15-07-1994,Não,SUL,RS,Soledade,20,< 25
3,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Integral,Presencial,Ciências Contábeis,Noturno,***299660**,Masculino,Branca,30-08-1993,Não,SUL,RS,Erechim,21,< 25
4,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Parcial 50%,Presencial,Ciências Contábeis,Noturno,***589530**,Feminino,Branca,02-09-1995,Não,SUL,RS,Erechim,19,< 25
5,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Integral,Presencial,Ciências Contábeis,Noturno,***431840**,Masculino,Parda,04-06-1995,Não,SUL,RS,Erechim,19,< 25

In [64]:
total = len(df_modalidade)
total

533104

In [65]:
grouped_modalidade = df_modalidade.groupby(['MODALIDADE_ENSINO_BOLSA']).size()

In [66]:
grouped_modalidade

MODALIDADE_ENSINO_BOLSA
Educação A Distância     75517
Presencial              457587
dtype: int64

In [67]:
grouped_modalidade/total

MODALIDADE_ENSINO_BOLSA
Educação A Distância    0.141655
Presencial              0.858345
dtype: float64

In [68]:
df.head()

,ANO_CONCESSAO_BOLSA,CODIGO_EMEC_IES_BOLSA,NOME_IES_BOLSA,TIPO_BOLSA,MODALIDADE_ENSINO_BOLSA,NOME_CURSO_BOLSA,NOME_TURNO_CURSO_BOLSA,CPF_BENEFICIARIO_BOLSA,SEXO_BENEFICIARIO_BOLSA,RACA_BENEFICIARIO_BOLSA,DT_NASCIMENTO_BENEFICIARIO,BENEFICIARIO_DEFICIENTE_FISICO,REGIAO_BENEFICIARIO_BOLSA,SIGLA_UF_BENEFICIARIO_BOLSA,MUNICIPIO_BENEFICIARIO_BOLSA,IDADE,FAIXA_IDADE
0,2015,20,Universidade De Passo Fundo,Bolsa Integral,Presencial,Administração,Noturno,***281870**,Feminino,Branca,22-07-1994,Não,SUL,RS,Soledade,20,< 25
1,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***992280**,Feminino,Branca,04-10-1986,Sim,SUL,RS,Soledade,28,>= 25 e <= 40
2,2015,20,Universidade De Passo Fundo,Bolsa Parcial 50%,Presencial,Administração,Noturno,***991060**,Feminino,Branca,15-07-1994,Não,SUL,RS,Soledade,20,< 25
3,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Integral,Presencial,Ciências Contábeis,Noturno,***299660**,Masculino,Branca,30-08-1993,Não,SUL,RS,Erechim,21,< 25
4,2015,423,Universidade Regional Integrada Do Alto Urugua...,Bolsa Parcial 50%,Presencial,Ciências Contábeis,Noturno,***589530**,Feminino,Branca,02-09-1995,Não,SUL,RS,Erechim,19,< 25

In [69]:
df_raca = df.copy()

In [70]:
df_raca['RACA_BENEFICIARIO_BOLSA'] = df_raca['RACA_BENEFICIARIO_BOLSA'].apply(lambda x: 'Preta' if x=='Preta' else 'Outros')

In [71]:
df_raca['RACA_BENEFICIARIO_BOLSA'].value_counts()

Outros    639456
Preta      93177
Name: RACA_BENEFICIARIO_BOLSA, dtype: int64

In [72]:
93177/(93177+639456)

0.1271810033127091

In [73]:
df.groupby(['ANO_CONCESSAO_BOLSA','RACA_BENEFICIARIO_BOLSA']).size()

ANO_CONCESSAO_BOLSA  RACA_BENEFICIARIO_BOLSA
2015                 Amarela                      4305
                     Branca                     105248
                     Indígena                      205
                     Não Informada                 218
                     Parda                      110586
                     Preta                       32025
2016                 Amarela                      4403
                     Branca                      97283
                     Indígena                      194
                     Não Informada                   9
                     Parda                      107325
                     Preta                       30001
2017                 Amarela                      4328
                     Branca                      94831
                     Indígena                      199
                     Não Informada                  43
                     Parda                      110279
                     Preta                       31151
dtype: int64

In [74]:
df.groupby(['ANO_CONCESSAO_BOLSA','BENEFICIARIO_DEFICIENTE_FISICO']).size()

ANO_CONCESSAO_BOLSA  BENEFICIARIO_DEFICIENTE_FISICO
2015                 Não                               250504
                     Sim                                 2083
2016                 Não                               237445
                     Sim                                 1770
2017                 Não                               239003
                     Sim                                 1828
dtype: int64

In [75]:
2083/(2083+250504)

0.008246663525834664

In [76]:
df.groupby(['ANO_CONCESSAO_BOLSA','NOME_TURNO_CURSO_BOLSA']).size()

ANO_CONCESSAO_BOLSA  NOME_TURNO_CURSO_BOLSA
2015                 Curso A Distância          49149
                     Integral                    7423
                     Matutino                   48098
                     Noturno                   141129
                     Vespertino                  6788
2016                 Curso A Distância          47862
                     Integral                    6740
                     Matutino                   49345
                     Noturno                   128702
                     Vespertino                  6566
2017                 Curso A Distância          59650
                     Integral                    6570
                     Matutino                   46765
                     Noturno                   121441
                     Vespertino                  6405
dtype: int64